/* CSS Document for Screens */


/* Backwards Compatability */
.site {
	max-width: 50em;
	margin: 0 auto;
}


/* Full Grid Support */

@supports (grid-area: auto) {

	.site {
		max-width: 310px;  
		margin: auto;
		display: grid;
		grid-template-columns: minmax(max-content, 1fr) minmax(max-content, 1fr);
		grid-template-areas:
		"title title"
		"nav nav"
		"image menu"
		"hours menu"
		"specials specials"
		"reservations reservations"
		"footer footer";
		justify-content: center;
	}

	nav {
		grid-area: nav;
		margin: auto;
	}	

	footer {
		grid-area: footer;
		margin: auto;
		
	}
	
	header {
		grid-area: title;
		
		
	}
	.item{
		max-height: 500px;

	}
	.title {
		grid-area: title;
		text-align: center;
		margin: .2em 0;
		padding: .75em 0 0 0 ;
	}

	h2 {
		text-align: center;
	}
	
/*	.btns3 {
		margin: auto;
	}  */  
	
	.nav-buttons {
		margin: auto;
	}
	
	.photo-restaurant {
		grid-area: image;
		margin: auto;
	}
	
	.menu {
		grid-area: menu;
		margin: auto;
	}

	.menubig {
		grid-area: menu;
		display: none;
	}

	
	.hours {
		grid-area: hours;
		margin: auto;
	}
	
	.specials {
		grid-area: specials;
		margin: auto;
	}	
	
	.reservations {
		grid-area: reservations;
		margin: auto;
	}
	
	.bigimage {
		display: none;
	}
	
	.restaurant-logo {
		display: none;
	}

	.img-rest {
		display: none;
	}

	
	@media screen and (min-width: 680px) {

		.site {
			max-width: 800px;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-areas:
			"top-header top-header top-header"
			"bigimage bigimage bigimage"
			"specials . ."
			"specials lilimage menu"
			"specials hours menu"
			"reservations restimage restimage"
			"footer footer footer";
		}

		header {
			grid-area: top-header;
			display: grid;
			grid-template-columns: minmax(auto, max-content) 1fr;
			grid-template-rows: auto auto;
		}
		
		nav {
			grid-column: 2/3;
			grid-row: 2;
			margin: auto 0;
		}	

		footer {
			grid-area: footer;
			
		}
		
		.top-hr { 
			width: 100%;
			height: 1px;
			background: #fff;
			grid-column: 1/3;
			margin: 1px;
		} 
		
		.title {
			grid-column: 2/3;
			grid-row: 1;
			text-align: left; 
			vertical-align: text-bottom;

		}
		
		.photo-restaurant {
			grid-area: lilimage;
		}
		
		.menu {
			grid-area: menu;
			display: none;
		}

		.menubig {
			grid-area: menu;
			display: block;
			align-self: flex-end;
			margin: auto;
		}

		
		.hours {
			grid-area: hours;
		}
		
		.specials {
			grid-area: specials;
		}	
		
		.reservations {
			grid-area: reservations;
		}

		.bigimage {
			display: block;
			grid-area: bigimage;
			max-width: 100%;
		}

		.restaurant-logo {
			display: block;
			grid-column: 1/2;
			grid-row: 1/3;
			align-self: flex-end;
		}

		.img-rest {
			grid-area: restimage;
			margin: auto;
			display: block;
		}

		
	}

/*	@media screen and (min-width: 1000px) {

		.site {
			max-width: none;
			display: grid;
			grid-template-columns: repeat (3, 1fr);
		}
*/		
		
	}
	
*/