.row{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 15px;

}
.brand-centered {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand {
  padding: 0px; /* remove bootstrap padding on floated image containers -  */ 
}
.navbar-brand>img {
  height: 100%;
  width: auto;
  padding: 7px 14px 7px 0; /* padding for image ... text needs no padding */
}

.navbar-toggle {
  z-index: 1;
}

.row img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%
}
.container-fluid{
	width: 100%;
}
.col {
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}
#myCarousel{
	overflow: hidden;
}
.carousel-caption{
	display: inline-block;
	vertical-align: top;
}
#about{
	background: #FFFF99;
	padding: 20px;
	margin-left: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 1.2em;
}	

#hours{
	padding: 10px;
	background: #FAE7B5;
	height: 200px;
	width: 100%;
	font-size: 1.5em;
	margin: 5px;
}

#reservations-hours{
	margin-left: auto;
	margin-right: auto;
}

#testimonials{
	background: #EDEDED;
	padding: 10px;
	margin: 10px;
}

blockquote{
	font-family: 'Life Savers', cursive;
	font-size: 1.2em;
}

.blockquote-footer{
	font-family: 'Life Savers', cursive;
	font-size: .9em;
}