.row{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 15px;

}

.row img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.col {
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}
#about{
	background: #FFFF99;
	padding: 20px;
	margin-left: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 1.2em;

	
}	

#hours{
	padding: 10px;
	background: black;
	color: white;
	height: 200px;
	font-size: 1.5em;
	outline: 4px solid white;
    outline-offset: -10px;
	font-family: fredericka-the-great, sans-serif;
}

#hours p{
	padding-left: 60px;
	font-size: 2rem;
}

#reservations-hours{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

#testimonials{
	background: #EDEDED;
	padding: 10px;
	font-weight: bold;
	margin-top: 5px;
}

blockquote{
	font-family: 'Life Savers', cursive;
	font-size: 1.2em;
}

.blockquote-footer{
	font-family: 'Life Savers', cursive;
	font-size: .9em;
}

#specials{
	color: white;
	font-family: fredericka-the-great, sans-serif;
	background: black;
	padding: 30px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	outline: 4px solid white;
    outline-offset: -15px;
}

#toast{
	margin-top: 30px;
}

#menus{
	font-size: 1.5em;
	margin-top: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	flex-direction: column;
}